.homepage {
  background-image: url('../../Assets/flare.jpg');
  background-size: cover;
  margin-bottom: 2em;
}

.home-container {
  height: 110vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin: 5em;
}