.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  overflow-y: scroll;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  overflow-y: scroll;
}

/* PAGE LAYOUT */

.page {
  margin-bottom: 3em;
}

* {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* FONT SIZES */

h1 {
  font-size: 60px;
  font-family: 'Hanken Grotesk', sans-serif;
}

h2 {
  font-size: 48px;
  font-family: 'Hanken Grotesk', sans-serif;
}

h3 {
  font-size: 36px;
  font-family: 'Hanken Grotesk', sans-serif;
}

h4 {
  font-size: 28px;
  font-family: 'Hanken Grotesk', sans-serif;
}

h5 {
  font-size: 24px;
  font-family: 'Hanken Grotesk', sans-serif;
}

h6 {
  font-size: 20px;
  font-family: 'Hanken Grotesk', sans-serif;
}

p {
  font-size: 12px;
  font-family: 'Hanken Grotesk', sans-serif;
}