.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 2em 0em;
  text-align: center;
  position: relative;
  background-color: #f3e2c7;
}

.navbar {
  position: sticky;
  top: 0px;
  padding: 0.1em;
  background-color: #f3e2c7;
}

.nav-link {
  display: flex;
  justify-content: center;
}

/* h5 represents nav-link text! */

.nav-link h5:hover {
  color: var(--navhover);
  text-decoration: underline;
  cursor: pointer;
}

.nav-active {
  color: blue;

}

.nav-active h5:hover {
  color: var(--activehover);
  text-decoration: underline;
  cursor: pointer;
}