.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1em;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--navhover);
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .footer h5 {
    font-size: 2vh;
  }
}